/* =====  Card Row-Card start  ===== */
.product-download-row-card {
    margin-left: 15px;
}
.product-download-row-card li + li {
    margin-left: 15px;
}
.product-download-bracket {
    color: #8bc34a;
    font-size: 16px;
}
.product-download-row-card .product-download-bracket::before {
    content: '|';
    color: #aeb4bb;
    margin-right: 15px;
}
/* =====  Card Row-Card end  ===== */