/* ===== Card-Item :Active ===== */
.row-active {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.item-active {
    width: 100%;
}
.item-wrap-active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
}
.item-wrap-active:hover {
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
}
.item-active + .item {
    margin-top: 30px;
}
.item-active .item-description {
    margin-left: 30px;
}
.item-wrap-active .item-description .item-info {
    padding: 0;
    margin-top: 20px;
}
.item-active .item-info-fullblock {
    display: block;
    padding: 20px 0;
}
.item-active .item-info-fullblock-text {
    color: #70838d;
    font-size: 14px;
}
.item-active .item-info-fullblock-sales {
    color: #aeb4bb;
    font-size: 13px;
    margin-left: 105px;
}
.item-active .item-author-icon-full {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 30px;
}
.item-active .item-author-icon-full .item-full-before:before {
    content: '|';
    color: #aeb4bb;
    margin-right: 15px;
}
.item-active .item-author-icon-full li + li {
    margin-left: 15px;
}
.item-active .item-author-icon-full i {
    color: #8bc34a;
}
.item-active .item-author-icon-full li {
    color: #263238;
}
.item-active .item-author {
    margin-right: auto;
}
/* ===== Card-Item :Active end ===== */
.item-description .item-author .item-bracket-full::before,
.item-description .item-author .item-bracket-full::after {
    color: #b0bec5;
    content: '(';
}
.item-description .item-author .item-bracket-full::after {
    content: ')';
}