/* ===== Inner ===== */
.inner{
	background: url("../img/inner-bg.jpg") no-repeat center / cover;
	text-align: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.inner-content h1{
    margin-bottom: 35px;
}
.inner-form{
    margin-top: 52px;
}
/* ===== Inner end ===== */

/* ===== New release ===== */
.new-release .tags{
    margin: 60px 0;
}
.new-release .row + .row {
    margin-top: 30px;
}
.new-release-btn{
    margin-top: 78px;
}
.new-release-btn a + a{
    margin-left: 12px;
}
.card-img{
    position: relative;
}
.card-img a{
    outline: none;
}
.card-img .card-label{
    position: absolute;
    border: 30px solid #8bc34a;
    border-right-color: transparent;
    border-bottom-color: transparent;
    width: 0;
    height: 0; 
}
.card-img .card-label .fa{
    position: absolute;
    font-size: 18px;
    color: #fff;
    right: 10px;
    bottom: 1px;
}
/* ===== New release end ===== */

/* ===== Trending Products ===== */
.trending-products .title{
    margin-bottom: 55px;
}
.trending-products .card-items-slider .card{
    margin: 0 15px;
}
/* ===== Trending Products end ===== */

/* ===== Why Choose ===== */
.why-choose .title{
    margin-bottom: 82px;
}
.why-choose .why-choose-subtitle{
    margin: 32px 0 23px 0;
}
.why-choose .why-choose-subtitle:hover{
    color: #8bc34a;
}
.why-choose p{
    text-align: center;
    color: #b0bec5;
    line-height: 24px;
}
/* ===== Why Choose end ===== */

/* ===== Banner ===== */
.banner .banner-lg{
    height: 440px;
    width: 1100px;
    position: relative;
    -webkit-box-shadow: 0 0 45px rgba(181, 181, 181, 1);
    box-shadow: 0 0 45px rgba(181, 181, 181, 1);
}
.banner .banner-lg .banner-sm{
    position: absolute;
    padding: 70px 55px 80px;
    top: 50%;
    left: 50%;
    max-width: 650px;
    width: 100%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.banner .banner-lg .banner-sm .title{
    font-size: 30px;
    line-height: 36px;
}
.banner .banner-lg .banner-sm .become-author-btn{
    margin-left: 30px;
}
/* ===== Banner end===== */

/* ===== Free tutorials ===== */
.free-tutorials .row {
    margin-top: 65px;
}
.tutorials-card .tutorials-card-title{
    font-size: 24px;
    background-color: #f8f8f8;
    padding: 40px 0;
}
/* ===== Free tutorials end ===== */
