/* ==== PAGE 16 ==== */

.container-fluid{
    padding: 0;
}
.sub-header{
    margin-top: 152px;
    height: 228px;
    background-color: #dedede;
}

.breadcrumbs-wrap{
    padding: 48px 0 43px;
}
/* === SETTING === */

/* = aside-nav = */
.settings .aside-nav a{
    padding: 19px 22px;
    color: #707070;
    font-size: 14px;
    border-bottom: 1px solid #d7d7d7;
}
.settings .aside-nav a.active{
    color: #37474f;
    border-bottom: 2px solid #8bc34a;
}
.settings .aside-nav a.active .fa{
    color: #8bc34a;
}
.settings .simple-block i+span{
    margin-left: 22px;
}
@media (max-width: 991px){
    .mobile-aside{
        position: absolute;
        z-index: 99;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    .mobile-aside.left{
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        background-color: rgba(0, 0, 0, .4);
    }
    #main.show-aside .mobile-aside.left{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    #main.show-aside .overlay{
        z-index: 98;
        opacity: 1;
    }
}
/* =end  aside-nav = */

/* = information-block = */ 
.mobile-aside-toggle{
    display: none;
}

@media (max-width: 991px){
    .mobile-aside-toggle{
        display: block;
    }
}

.settings .simple-block{
    margin-bottom: 150px;
}
.settings .form-control + .form-control{
    margin-top: 21px;
}
.settings .form-control .form-default{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 540px;
}
.settings .form-control .jq-selectbox{
    max-width: 540px; 
}
.information-block .btn.btn-lightgreen{
    padding: 15px 30px;
    margin-top: 25px;
    margin-bottom: 40px;
    margin-left: 225px;
}
@media (max-width: 1199px){
    .settings .form-control .form-default,
    .settings .form-control .jq-selectbox{
        max-width: 460px;
    }
    .settings .information-block .btn.btn-lightgreen{
        margin-left: 174px;
    }
}
@media (max-width: 991px){
    .settings .form-control .form-default,
    .settings .form-control .jq-selectbox{
        max-width: 900px;
        margin-top: 10px;
    }
    .settings .information-block .btn.btn-lightgreen{
        margin-left: 0;
        width: 100%;
    }
}

/* =end  information-block = */
/* === SETTING === */
/* ==== END PAGE 16 ==== */