/* === SETTING === */
.settings {
    padding-bottom: 150px;
}
/* = aside-nav = */
.settings .aside-nav a{
    padding: 19px 22px;
    color: #707070;
    font-size: 14px;
    border-bottom: 1px solid #d7d7d7;
}
.settings .aside-nav a .fa {
    font-size: 14px;
    margin-right: 23px;
}
.settings .aside-nav {
    border: 1px solid #d7d7d7;
    border-bottom: none;
    background-color: #fff;
}
.settings .aside-nav a.active,
.settings .aside-nav a:hover{
    color: #37474f;
    border-bottom: 2px solid #8bc34a;
    font-weight: 500;
}
.settings .aside-nav a.active .fa,
.settings .aside-nav a:hover .fa{
    color: #8bc34a;
}
@media (max-width: 991px){
    .mobile-aside{
        position: absolute;
        z-index: 99;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
    }
    .mobile-aside.left{
        -webkit-transform: translateX(-110%);
        transform: translateX(-110%);
    }
    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        opacity: 0;
        -webkit-transition: all .3s ease-out;
        transition: all .3s ease-out;
        background-color: rgba(0, 0, 0, .4);
    }
    #main.show-aside .mobile-aside.left{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    #main.show-aside .overlay{
        z-index: 98;
        opacity: 1;
    }
}
/* =end  aside-nav = */

/* = information-block = */ 
.mobile-aside-toggle{
    display: none;
}

@media (max-width: 991px){
    .mobile-aside-toggle{
        display: block;
    }
}

.settings-content-border{
    padding: 44px 37px 34px 37px;
    border: 1px solid #dcdcdc;
    background-color: #fff;
    border-top: none;
}
.settings .btn.btn-lightgreen {
    padding: 16px 30px;
    font-weight: 500;
    margin-top: 25px;
}
.settings .form-control + .form-control{
    margin-top: 21px;
}
.settings .form-control .form-default{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 540px;
}
@media (max-width: 1199px){
    .settings .form-control .form-default,
    .settings .form-control .jq-selectbox{
        max-width: 460px;
    }
    .settings .information-block .btn.btn-lightgreen{
        margin-left: 174px;
    }
}
@media (max-width: 991px){
    .settings .form-control .form-default,
    .settings .form-control .jq-selectbox{
        max-width: 900px;
        margin-top: 10px;
    }
    .settings .information-block .btn.btn-lightgreen{
        margin-left: 0;
        width: 100%;
    }
}

/* =end  information-block = */
/* === SETTING === */
/* ==== END PAGE 16 ==== */