.btn{
    display: inline-block;
    padding: 20px 25px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid transparent;
    cursor: pointer;
    color: #fff;
}
.btn.btn-bold{
    padding: 22px 37px;
    font-weight: 900;
    text-transform: uppercase;
}
.btn.btn-error{
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
}
.btn.btn-submit{
    padding: 19px 43px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 14px;
}
.btn.btn-red{
    background-color: #e74c3c;
}
.btn.btn-gtayblue{
    background-color: #455a64;
}
.btn.btn-green{
    background-color: #76ae36;
}
.btn.btn-lightgreen{
    background-color: #8bc34a;
}
.btn.btn-blue{
    background-color: #42a5f5;
}
.btn.btn-gray{
    background-color: #546e7a;
}
.btn.btn-white{
    background-color: #fff;
    color: #263238;
}
.btn.btn-white-border{
    background-color: #fff;
    border: 1px solid #d5d5d5;
    color: #707070;
}
.btn-shadow{
    -webkit-box-shadow: 0px 1px 2px rgba(69, 90, 100, 0.75);
    box-shadow: 0px 1px 2px rgba(69, 90, 100, 0.75);  
}
.btn-radius{
    border-radius: 4px;     
    padding: 9px 17px;
    font-size: 12px;
    font-weight: 400;
}
.btn.btn-main-items{
    padding: 19px 32px;
    font-weight: 400;
    -webkit-box-shadow: 0px 1px 3px rgba(204, 216, 228, 0.75);
    box-shadow: 0px 1px 3px rgba(204, 216, 228, 0.75);
}
.btn.btn-big{
    padding: 25px 43px;
    font-size: 18px;
    font-weight: 400;
}
.btn.btn-xs{
    font-size: 13px;
    padding: 9px 11px;
    font-weight: 400;
}
