/* ========== Card-Item ========== */
.item {
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
    box-shadow: 0 1px 2px rgba(205, 214, 222, 0.75);
}
.item-description .item-info{
    padding: 30px 0 20px;
    border-bottom: 1px solid #e7ecf2;
}
.item-info-title {
    font-size: 18px;
    color: #263238;
}
.item-info-subtitle {
    font-size: 14px;
    color: #8bc34a;
    padding-top: 10px;
}
.item-info-price {
    font-weight: 700;
    font-size: 20px;
}
.item-author {
    padding: 15px 0 20px;
}
.item-author-name {
    font-size: 14px;
    color: #546e7a;
}
.item-author-star {
    font-size: 12px;
    color: #ffa726;
}
.item-author-number {
    color: #263238;
    font-size: 12px;
}
/* ========== Card-Item End ========== */