/* === CAROUSEL === */
.card-items-slider.multiple-items .slick-dots{
    top: 70px;
}
.slick-dots li button::before{
color: #e8e8e8;
opacity: 1;
font-size: 24px;
line-height: 60px;
}
.slick-dots li.slick-active button:before{
    color: #8bc34a;
    opacity: 1;
}
/* === CAROUSEL === */