/* ===== TITLE ===== */
.title {
	font-size: 36px;
	font-weight: 700;
}

.welcome-title {
	font-size: 48px;
	font-weight: 700;
}

.subtitle {
	font-size: 20px;
	font-weight: 500;
}

.why-choose-subtitle {
	font-size: 24px;
	font-weight: 500;
}

.footer-title {
	font-size: 22px;
	font-family: 'Raleway', sans-serif;
}
/* ===== TITLE END ===== */