/* ===== Style.css start===== */
.white-bg {
    background-color: #fff;
}
.border-grey {
    border: 1px solid #dedede;
}
/* ===== Card Section start =====*/
.row-margin-top {
    margin-top: 30px;
}
/* ===== Card Section end =====*/
/* ===== Pagination Section start =====*/
.pagination-wrap {
    padding: 60px 0 110px;
}
/* ===== Pagination Section end =====*/
/* ===== Aside Section start =====*/
.aside .aside-list-icon {
    color: #8bc34a;
    margin-right: 12px;
    font-size: 14px;
}
.aside .aside-list-number {
    color: #90a4ae;
}
.aside .aside-list-item {
    margin-right: auto;
}
.aside-btn {
    padding: 15px 63px;
}
.aside-btn:hover {
    box-shadow: 0 16px 20px rgba(216, 216, 216, 0.75);
}
#slider-range{
    margin: 50px 0;
}
#slider-range span{
    outline: none;
}
#slider-range .min-value,
#slider-range .max-value{
    position: absolute;
    bottom: -30px;
    color: #78909c;
    font: 400 15px/1 'Roboto', sans-serif;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.ui-widget-content,
.ui-widget.ui-widget-content{
    border: none;
}
.ui-widget-header{
    background: #37474f;
}
.ui-widget-content{
    background: #f2f5f8;
}
.ui-slider-horizontal{
    height: 5px;
}
.ui-state-default, .ui-widget-content .ui-state-default{
    border: 3px solid #8bc34a;
    background: #fff;
}
.ui-slider .ui-slider-handle{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
}
.ui-slider-horizontal .ui-slider-handle{
    margin-left: -2px;
}
.aside .aside-section.price-range .aside-btn{
    margin-top: 0;
}
.aside-btn .aside-btn-search {
    margin-left: 8px;
}
.aside .item-info-title {
    font-weight: 700;
}
.aside .item-info-price {
    font-size: 16px;
}
.aside-item li:hover{
    color: #8bc34a;
}
.card.item-wrap-aside .card-img,
.card.item-wrap-aside .card-description-wrapper {
    box-shadow: none;
    border: none;
}
.card.item-wrap-aside + .card.item-wrap-aside {
    margin-top: 25px;
    border-top: 1px solid #dde3e8;
}
.card.item-wrap-aside .card-img {
    margin-top: 25px;
}
.card.item-wrap-aside .item-info .title,
.card.item-wrap-aside .item-info .price {
    font-size: 16px;
    font-weight: bold;
}
.card.item-wrap-aside .item-info .subtitle {
    margin-top: 10px;
}
.card.item-wrap-aside .item-info {
    padding: 20px 0;
}
.card.item-wrap-aside .card-author-info {
    border-top: none;
}
.card.item-wrap-aside .product-download {
    display: none;
}
.aside .aside-section .aside-btn {
    margin-top: 40px;
}
/* ===== Aside Section end =====*/
/* ===== Content Section start =====*/
.sort-controls-container {
    padding: 20px;
}
.sort-by span {
    padding: 0 10px;
}
.change-icon {
    cursor: pointer;
}
.change-icon + .change-icon {
    margin-left: 10px;
}
.change-icon:hover,
.change-icon.active {
    color:#8bc34a;
}
/* ===== Content Section end =====*/
/* =====  Card Row-Card start  ===== */
.card.row-card .card-description-wrapper .product-download-row-card {
    display: flex;
    margin-left: 15px;
}
.product-download-row-card li + li {
    margin-left: 15px;
}
.product-download-bracket {
    color: #8bc34a;
    font-size: 16px;
}
.product-download-row-card .product-download-bracket::before {
    content: '|';
    color: #aeb4bb;
    margin-right: 15px;
}
/* =====  Card Row-Card end  ===== */