/* ===== Dropdawn user-data Start ===== */
.user-data .dropdown-menu .fa-angle-right {
    color: #8bc34a;
    font-size: 14px;
    margin-right: 10px;
}
.user-data .dropdown-menu li + li {
    margin-top: 25px;
}
.user-data .dropdown-menu {
    padding: 30px 20px;
    top: 94px;
    right: 150px;
}
/* ===== Dropdawn user-data End ===== */
/* ===== Dropdawn Card notification Start ===== */
.icon-dropdawn-wrap .dropdown-menu {
    /*width: 270px;*/
    top: 61%;
    right: 25%;
}
.icon-dropdawn-wrap .dropdown-cart {
    padding: 20px;
    border-bottom: 1px solid #e0e0e0;
}
.icon-dropdawn-wrap .dropdown-cart-item {
    padding-left: 15px;
}
.icon-dropdawn-wrap .dropdown-cart-item span + span {
    margin-top: 10px;
}
.icon-dropdawn-wrap .total-dropdawn-cart-text {
    padding: 0 30px;
    color: #263238;
    font-size: 16px;
    font-weight: bold;
}
.icon-dropdawn-wrap .dropdown-cart-price {
    color: #000;
    font-size: 16px;
}
.icon-dropdawn-wrap .dropdown-cart-title {
    color: #263238;
}
.icon-dropdawn-wrap .dropdown-cart-item-green {
    color: #84b743;
    font-size: 12px;
}
.icon-dropdawn-wrap .total-dropdawn-cart-btn {
    padding: 10px 12px;
}
.icon-dropdawn-wrap .total-dropdawn-cart-btn .btn + .btn {
    margin-left: 5px;
}
.icon-dropdawn-wrap .total-dropdawn-cart {
    padding: 10px 15px;
}
/* ===== Dropdawn notification End ===== */