.error-page {
  margin-top: 155px;
  padding: 50px 0 145px;
}

.error-page-content {
  border: 1px solid #dedede;
  margin-top: 40px;
}

.error-page-content__title {
  padding: 20px 20px 24px 34px;
  
  border-bottom: 1px solid #dedede;
}

.error-page-content__title > * {
  font-size: 24px;
}

.error-page-inner {
  position: relative;
  height: 700px;
  text-align: center;
}

.error-page-inner:before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}

.error-page-inner-content {
  display: inline-block;
  vertical-align: middle;
}

.error-code {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
  color: #fffefe;
  font-size: 300px;
  font-weight: 800;
  text-transform: uppercase;
}

.error-img {
  display: inline-block;
  width: 157px;
  height: 301px;
  margin-left: 10px;
  vertical-align: bottom;
  background: url("../../app/img/error-img-grey.png") no-repeat center/cover;
  transition: all 0.3s;
}

.error-img:hover {
  background: url("../../app/img/error-img-color.png") 
}

.error-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  letter-spacing: .2em;
  margin-top: 30px;
}

.error-description {
  font-family: 'Raleway', sans-serif;
  max-width: 532px;
  margin: 35px auto 55px;
  line-height: 1.3;
  font-size: 18px;
}

.btn.btn-error {
  transition: all 0.3s;
}

.btn.btn-error:hover {
  background-color: #dedede;
  color: #888;
}

/********* Media queries *********/

@media (max-width: 768px) {
  .error-img {
    display: none;
  }
  .error-code {
    font-size: 180px;
  }
  .error-title {
    font-size: 23px;
    letter-spacing: .1em;
  }

  .error-description {
    max-width: 400px;
    margin: 22px auto 40px;
    line-height: 1.2;
    font-size: 16px;
  }
  .error-page-inner {
    height: 500px;
  }
}

@media (max-width: 570px) {

  .error-code {
    font-size: 110px;
  }
  .error-title {
    font-size: 17px;

  }

  .error-description {
    max-width: 220px;
    margin: 22px auto 40px;
    line-height: 1.3;
    font-size: 14px;
  }
  .error-page-inner {
    height: 500px;
  }
}
