/* ===== Inner ===== */
.inner-sm{
	background: url("../img/inner-sm.jpg") no-repeat center / cover;
	text-align: center;
    filter: grayscale(100%);
}
.inner-form{
    margin-top: 20px;
}
.inner-form .sub-inner{
    box-shadow: 0px 1px 10px 0px rgba(100, 100, 100, 0.75);
}
/* ===== Inner end ===== */

/* ===== Profile details ===== */
.profile-details-wrap .aside-section{
    width: 100%;
    background-color: #fff;
}
.profile-details-wrap .aside-section .aside-item{
    padding: 25px 0 45px 0;
}
.profile-details-wrap .aside-section .aside-item .about-author-img{
    margin-right: 16px;
}
.profile-details-wrap .aside-section .aside-item .about-author-boss span{
    font-size: 18px;
}
.profile-details-wrap .aside-section .aside-item .about-author-boss .fa{
    color: #8bc34a;
    margin-right: 8px;
}
.profile-details-wrap .social-nav{
    margin: 25px 0;
}
.profile-details-wrap .social-nav a + a{
    margin-left: 7px;
}
.profile-details-wrap .btn-favourite{
    width: 100%;
    text-align: center;
}
.profile-details-wrap .btn-favourite .fa{
    font-size: 16px;
    margin-right: 12px;
}
.profile-details-wrap .btn + .btn{
    margin-top: 17px;
}
.profile-details-wrap .aside-navigation{
    width: 100%;
    margin-top: 30px;
}
.profile-details-wrap .aside-navigation a{
    padding: 17px 20px;
    border-top: 1px solid rgb(220, 220, 220);
    color: #707070;
    font-size: 14px;
}
.profile-details-wrap .aside-navigation .active{
    color: #263238;
    border-bottom: 2px solid #8bc34a;
}
.profile-details-wrap .aside-navigation .active .fa{
    color: #8bc34a;
}
.profile-details-wrap .aside-navigation a .fa{
    color: #d0d0d0;
    font-weight: 400;
    margin-right: 13px;
}
.profile-details-wrap .aside-navigation a:first-child{
    border-top: 0;
}
.profile-details-wrap .product-img{
    padding: 18px 20px;
}
.profile-details-wrap .info-bar{
    margin-top: 30px;
}
.profile-details-wrap .info-bar li{
    width: 25%;
    border-right: 1px solid rgb(220, 220, 220);
    padding: 24px 0 17px 0;
    text-align: center;
    font-size: 14;
    font-weight: 500;
    color: #263238;
}
.profile-details-wrap .info-bar li:last-child{
    border-right: 0;
}
.profile-details-wrap .info-bar .info{
    margin-top: 12px;
}
.profile-details-wrap .info-bar .product-rating i{
    color: #ffa726;
}
.profile-details-wrap .info-bar .product-rating i + i {
    margin-left: 3px;
}
.profile-details-wrap .info-bar .product-download{
    font-size: 12px;
    margin-left: 8px;
}
.profile-details-wrap .info-bar .product-download::before,
.profile-details-wrap .info-bar .product-download::after{
    color: #b0bec5;
    content: '(';
}
.profile-details-wrap .info-bar .product-download::after{
    content: ')';
}
.about-me{
    padding: 39px 42px 52px 42px;
}
.about-me .about-me-title{
    font-size: 20px;
    margin-bottom: 30px;
}
.about-me p{
    line-height: 24px;
}
.about-me .about-me-skills .progress-wrap .progress{
    height: 15px;
    width: 100%;
    background-color: #f4f4f4;
    border-radius: 4px;
    margin-top: 17px;
}
.about-me .about-me-skills .about-me-title{
    margin-bottom: 28px;
    margin-top: 50px;
}
.about-me .about-me-skills .progress-wrap + .progress-wrap{
    margin-top: 22px;
}
/* ===== Profile details end ===== */
  