.upload-product{
    padding-bottom: 108px;
}
.form-upload .form-default{
    width: 100%;
    max-width: 900px;
}
.form-upload textarea{
    width: 100%;
    max-width: 900px;
    height: 150px;
    padding-top: 12px;
}
.upload-content .form-upload + .form-upload{
    margin-top: 23px;
}
.upload-content sup{
    color: #8bc34a;
    font-size: 24px;
}
.upload-product .title-page.sub {
    border-top: none;
}
.upload-product .btn.btn-lightgreen {
    padding: 16px 30px;
    font-weight: 500;
    margin-top: 25px;
}
@media (max-width: 1199px){
    .form-upload .form-default,
    .form-upload .form-text,
    .information-block .form-upload .jq-selectbox{
        margin-top: 10px;
    }
    .upload-product .information-block .btn.btn-lightgreen{
        margin-left: 0;
        width: 100%;
    }
}

/* === end upload-product === */