.withdrawals .content-border{
	padding-top: 22px;
}
.withdrawals .withdrawals-form label{
	color: #263238;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 22px;
	display: block;
}
.withdrawals .withdrawals-form sup{
	color: #8bc34a;
	font-size: 24px;
}
.withdrawals .withdrawals-form .form-default{
	width: 100%;
}
.withdrawals .withdrawals-form .form-control + .form-control{
	margin-top: 28px;
}
.withdrawals .row-btn{
	margin-top: 23px;
}
.withdrawl-table td, th{
	padding: 15px 20px;
}
.withdrawl-table tbody tr td {
	color: #444;
	font-size: 13px;
	font-weight: 500;
}
.withdrawl-table tr:nth-child(n+2) td:nth-child(4) {
	color: #8bc34a;
}
.withdrawl-table tbody tr td:nth-child(3){
    font-weight: 700;
}