/* ========== Default Section ========== */
.sub-header-main {
    padding: 155px 0 175px;
}
.default-section {
    padding: 120px 0;
}
.author-main-section {
    padding: 130px 0;
}
/* ========== Default Section end ========== */