/* ===== FORM ===== */
/* ----- inner form start----- */
.inner-form .sub-inner{
    width: 670px;
    height: 56px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0px 1px 10px rgba(124, 178, 64, 0.75);
    background-color: #fff;
    padding: 0 25px;
    font: 500 14px/1 'Roboto', sans-serif;
    letter-spacing: .1em;
}
.inner-form input[type="text"]::placeholder{
    color: #90a4ae;
}
/* ----- inner form end----- */

/* ----- form message start----- */
.form-message{
    border: 1px solid transparent;
    height: 46px;
    padding: 18px 16px;
    color: #7a7a7a;
    box-shadow: none;
    background-color: #f1f4f5;
    font: 400 15px/1 'Roboto', sans-serif;
}
.message textarea{
    min-height: 193px; 
    width: auto;
}
textarea.form-message{
    padding-top: 16px;
}
/* ----- form message end----- */

/* ----- form default start----- */
.form-default{
    border: 1px solid #dedede;
    height: 40px;
    padding: 14px 18px;
    color: #707070;
    background-color: #f9f9f9;
    font: 400 15px/1 'Roboto', sans-serif;
}
/* ----- form message end----- */

/* ----- input upload ----- */
.file-upload{
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    padding: 7px;
    max-width: 540px;
}
input[type="file"]{
    display: none;
}
input[type="file"] + label{
    font-size: 12px;
    display: inline-block;
    color: #444;
    border: 1px solid #dcdcdc;
    padding: 6px 0;
    width: 92px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
}
.file-upload .file-name{
    font-size: 12px;
    color: #707070;
    margin-left: 12px;
}
 /* ----- input upload end----- */