/* ===== TAGS ===== */
.tags li>a{
    padding: 13px 22px;
    background-color: #fff;
    color: #263238;
    font-size: 14px;
    font-weight: 500;
}
.tags li + li{
    margin-left: 6px;
}
.tags li>a:hover{
    background-color: #e74c3c;
    box-shadow: 0px 2px 5px rgba(202, 215, 228, 0.75);
    color: #fff;
}
.tags li>a:active{
    background-color: #e74c3c;
    box-shadow: 0px 2px 5px rgba(202, 215, 228, 0.75);
    color: #fff;
}
/* ===== TAGS END ===== */